.tracks-list__container{
    display:flex;
    flex-direction: column;
    padding:0 auto;
}

.tracks-list__element{
    margin:0 auto;
    width:320px;
    color:white;
    img{
        width: 320px;
        height: 320px;
    }
    
    p{
        font-weight: 600;
        font-size: $font-size-large;
        margin:0;
        word-wrap: break-word;
    }
    span{
        color: lighten($beautiful-black,40);
        font-weight:450;
        margin:0;
        word-wrap: break-word;
    }
}

.tracks-list__lign-container{
    display:flex;
    flex-direction:row;
    margin-bottom:$l-size;
}

.tracks-list__loading{
    text-align: center;
    color:white;
    font-weight: 600;
    font-size: $font-size-large;
}